
[submodule "src/externals/ViLa-MIL_Code"]
	path = src/externals/ViLa-MIL_Code
	url = https://github.com/Jiangbo-Shi/ViLa-MIL
[submodule "src/externals/PBIP_Code"]
	path = src/externals/PBIP_Code
	url = https://github.com/QingchenTang/PBIP
